<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MDG Seguridad e Higiene Integral</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Home/Index">
                        <img alt="mdg" width="30%" src="~/Images/Logo.PNG" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Administración de Clientes", "Clientes", "Home")</li>
                        <li>@Html.ActionLink("Informes Técnicos", "InformesTecnicos", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-link text-dark" href="~/Acceso/Login"><span class="glyphicon glyphicon-user"></span> Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Melisa Vera Chavez</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
