@model InformesTecnicosPPV.Models.ViewModel.TablaViewModel
@{
    ViewBag.Title = "Modificar datos de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<br />
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Editar", "Home", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.Id)

            <div class="col-lg-5">
                @Html.LabelFor(d => d.RazonSocial)
                @Html.TextBoxFor(d => d.RazonSocial, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.RazonSocial, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.NombreFantasia)
                @Html.TextBoxFor(d => d.NombreFantasia, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NombreFantasia, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Direccion)
                @Html.TextBoxFor(d => d.Direccion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Direccion, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Cuit)
                @Html.TextBoxFor(d => d.Cuit, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cuit, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Telefono)
                @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Email, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Responsable)
                @Html.TextBoxFor(d => d.Responsable, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Responsable, null, new { @class = "red" })
            </div>
            <div class="col-lg-5">
                @Html.LabelFor(d => d.Fecha)<br />
                @Html.EditorFor(d => d.Fecha, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "red" })
            </div>
            <br />
            <br />
            <div style="text-align:right;" class="col-lg-5">

                <input value="Guardar" class="btn btn-primary" type="submit" />
                <input type="button" value="Cancelar" class="btn btn-danger" onclick="location.href='@Url.Action("Clientes","Home")';" />
            </div>
        }
    </div>

</div>